html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  font-family: "Poppins", sans-serif;
}

/* Estilos altausuatio.html*/

header {
  width: 100%;
  padding: 0 20px;
}
.containerHeader {
  background-color: #44444432;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0 20px;
}

.login {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.botonRegistrarse {
  cursor: pointer;
  font-weight: bold;
}
.botonRegistrarse:hover {
  color: #333f2c;
}

.fondoLogin {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.alta-usuario {
  position: absolute;
  width: 440px;
  height: 420px;
  padding: 30px 40px;
  border-radius: 6px;
  box-shadow: 0px 0px 14px -2px #566b4b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  text-align: center;
  backdrop-filter: blur(22px);
  color: rgb(255, 255, 255);
  background-color: #92929225;
}

.tituloLogin {
  color: white;
  font-size: 33px;
  letter-spacing: 1.5px;
  filter: drop-shadow(0px 0px 4px #333f2c);
}

input {
  padding: 4px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #566b4b;
}
input:focus {
  outline: none;
  background-color: transparent;
  color: #566b4b;
}

.titulo-tablero {
  font-size: 2.5em;
}

.registro {
  display: none;
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 20px;
}

.usuario-login {
  color: black;
  display: flex;
  align-items: center;
  font-size: 20px;
}
.usuarioTitulo {
  font-weight: 600;
  margin-right: 10px;
}
.usuarioNombre {
  color: #566b4b;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.03rem;
}

.boton-login {
  background-color: #566b4b;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
}

.fondoApp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.container {
  width: 100%;
  height: 88%;
  display: flex;
  padding: 20px;
  gap: 20px;
}

.bloque-tarea {
  width: 100%;
  border-radius: 5px;
  padding: 0 20px 20px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #dbdbdbe3;
  justify-content: space-between;
  overflow: auto;
  scrollbar-width: none;
}
.tituloTarea {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 50px;
  top: 0px;
  background-color: #dbdbdb;
}
.formulario-tarea {
  background-color: #44444483;
  border: 2px solid rgba(255, 255, 255, 0.486);
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 5px;
  color: white;
  padding: 10px;
  margin-top: 16px;
}
.container-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-formulario {
  color: red;
  margin-top: 10px;
  font-size: 13px;
}
.input-form-tarea {
  background-color: #36363631;
  border-radius: 5px;
  color: white;
  width: 70%;
}

#button-crear {
  background-color: #0080008f;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px 15px;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}
#button-crear:hover {
  background-color: green;
}

#error-mensaje {
  display: none;
}

.my-button {
  background-color: rgba(2, 56, 9, 0.58);
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.my-button:hover {
  background-color: rgb(2, 128, 2);
}

/* .eliminar-tarea {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

/* .eliminar-tarea:hover {
  background-color: #e60000;
}

.eliminar-tarea:active {
  background-color: #cc0000;
  transform: scale(0.98);
} */

/* .editar-tarea {
  background-color: #f0bb0e;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.editar-tarea:hover {
  background-color: #f0bb0e;
}

.editar-tarea:active {
  background-color: #f0bb0e;
  transform: scale(0.98);
} */

.finalizar-tarea {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.finalizar-tarea:hover {
  transform: scale(1.2);
}

.recuperar-tarea {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  rotate: 180deg;
}

.recuperar-tarea:hover {
  transform: scale(1.2);
}

/* #lista-tareas,
#fin-tareas {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
} */

.tarea-contenedor {
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #a8952d96;
}

.tarea-finalizada {
  background-color: rgba(11, 55, 25, 0.34);
}

.tarea-contenedor p {
  margin: 5px 0;
}

.error-envio {
  color: red;
  font-size: 14px;
  height: 8px;
}

/* Estilos inicio.html*/

#cerrar-sesion {
  cursor: pointer;
  width: 24px;
}

#cerrar-sesion:hover {
  scale: 1.1;
  filter: drop-shadow(0px 0px 4px black);
}

/* //////////estilos de prueba////////////// */

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.task-list {
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-list h3 {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #333;
}

.task-item {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-item span {
  flex: 1;
  font-size: 1em;
  color: #555;
}

.container-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}

.buttons {
  width: 24px;
  height: 24px;
}

.buttons:hover {
  cursor: pointer;
  transform: scale(1.3);
}
.task {
  position: relative;
  display: flex;
  align-items: start;
  width: 100%;
}
.task-info {
  text-align: start;
}

.task-item button:first-of-type {
  background: #ff7c7e;
}

.task-item button:last-of-type {
  background: #fffd9a;
}
.task-item button:first-of-type:hover {
  background: #ac1315;
}

.task-item button:last-of-type:hover {
  background: #c2bf20;
}

.task-list.finished {
  background-color: #e8f5e9;
}
